<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s dashboard</title>
</head>
<body>
<h1>Welcome to the dashboard of {{ name }}</h1>

<form method="post">
    <button name="working" value="start">START WORKING</button>
    <button name="working" value="stop">STOP WORKING</button>
</form>

<ol>
    {% for timeframe in timeframes %}
        <li>{{ timeframe }}</li>
    {% endfor %}
</ol>
</body>
</html>